*{
    box-sizing: border-box;
    /* max-width: 1280px;
    margin: 0 auto; */
}

.main-header{   
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}
.main-nav{
    display: flex;
  
  
 
}
.main-nav li{
   
    margin-left: 20px;
    list-style:none;

}
.cloes{
    background-color:bisque;
    /* padding: 10px; */
    border-radius: 25px;


}
.profile{
    width: 500px;
    height: 500px;
  

}
.banner{
    display: flex;  
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}
.headline{
    width: 576px;
    height: 144px;
    font-size: 64px;
}

.zai{
    margin-right: 10px;
    background-color: bisque;
 border-radius: 25px;
    padding: 10px;    
}

section{
    max-width: 1280px;
    margin:  0 auto;


}
.ner{
 max-width: 735px;
 height: 112px;
 font-size: 48px;
}
.bask{
    display: flex;
}
.bask img{

 border-radius: 20px;
 margin-left: 20px;
 width: 399px;
 height: 242px;
 
}
.bask a{
    color:  #F58A07;
    ;
}
.background{
    background-color: #DCEAF5;
    ;
}


.uno h1 {
    max-width: 619px;
    max-height: 132px;
    font-size: 2em ;
   
   
}
.uno{
    display: flex;
    margin-top: 100px;
}
.uno p{
    max-width: 620px;
    max-height: 100px;
    font-size: 18px;
    margin-left: 100px;
  
}
.color{
    background-color:#DCEAF5 ;
}
.noon{
    background-color:white;
    max-width: 400px;
    max-height: 277px;
    border-radius: 20px;
    margin-left: 20px;
}
#toop{
    display: flex;
}
.noon-2{
    background-color:white;
    max-width: 400px;
    max-height: 277px;
    border-radius: 20px;
    margin-left: 20px;
}
.noon-3{
    background-color:white;
    max-width: 400px;
    max-height: 277px;
    border-radius: 20px;
    margin-left: 20px;
}
.bar{
    max-width: 1280px;
    margin: 0 auto;  
    position: relative;  
}

.bam h1{
    width: 395px;
    height: 157px;
}
.bam p{
    width: 510px;
    height: 120px;
}
.bam img {
    width: 400px;
    height: 388px;
    position: absolute;
    right: 75px;
    top: 50px;
    bottom: 100px; 
    mix-blend-mode: multiply;
    
}
.card h2{
    color:  #F58A07;
}

.card p{
    width: 150px;
    height: 70px;
}

#cards{
    display: flex;
}
.card-2 p{
    width: 170px;
    height: 84px;
}
.card{
    margin-right: 25px;
}
.card-2 h2{
    color: #F58A07;
}
.bom{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #EDF7FF;
    border-radius: 15px;
    position: relative;
}
.bor{
    display: flex;
}
.bor p{
    margin-left: 25px;
}
.urt p{
    width: 500px;
    height: 200px;
}
.ms{
    position: absolute;
    top: -10px;
    right: -10px;
}
.bag{
    position: absolute;
    top: 120px;
    right: 50px;
}
.bus{
    background-color: white;
    color: #F58A07;
    padding: 10px;
    border-radius: 20px;
}
.urt a{
    color: #F58A07;

}
.urt a::after{
    content: "\2193";
}



